/*------------COLORS---------------------*/
.color-green{
	color: #28b04c;
}
.color-green-light{
	color: #8dc642;
}
.color-gray, #slide-08 h1, #slide-08 h2, #slide-08 h3, #slide-08 h4, #slide-08 h5, #slide-08 p{
	color: #6d6e72;
}
.color-light-gray{
	color: #929699;
}
.color-white, h1, h2, h3, h4, h5, a, a:hover, a:visited {
	color: white;
}
.color-white-op, p, a.arrow-tab, a.arrow-tab:hover, a.arrow-tab:visited{
	color: white;
	opacity: 0.9;
}
.color-blue, #slide-06 h1, #slide-06 h2, #slide-06 h3, #slide-06 h4, #slide-06 h5, #slide-06 p, 
#slide-06 a, #slide-06 a:hover, #slide-06 a:visited{
	color: #208fbd;
}
.color-pruple{
	color: #9f2b64;
}
.color-blue{
	color: #1376bc
}


/*------------FONTS AND SIZES--------------*/
h1{
	font-size: 3em;
}

h1.main-title {
	font-size: 20pt;
}

h1.big-title {
	font-size: 13em;
	text-transform: uppercase;
	margin-top: -40px;
}

h1.medium-title {
	font-size: 3.5em;
}

a, a:hover, a:visited {
	font-weight: bolder;
}

a:hover{
	text-decoration: none;
}

.slides-container  p, p.big-text{
	font-size: 2em;
}



/*------------------------------------------*/
.volbee-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 10%;
	padding-right: 15%;
}

.volbee-tab {
	position: absolute;
    height: 100%;
    margin-left: 50%;
}

.slides-container .volbee-content {
	margin-top: 15%;
}

.hiden{
	display: none;
}

#tab-slide-03, #tab-slide-05, #tab-slide-07{
	background-color: white;
}

.arrow-tab{
	position: absolute;
    margin-left: -60px;
    margin-top: 20px;
    font-size: 2.5em;
}

#slide3-background-layer1{
	background-image: url(../imgs/lightening_layer1.png);
}
#slide3-background-layer2{
	background-image: url(../imgs/lightening_layer2.png);
}
#slide3-background-layer1, #slide3-background-layer2{
	height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: repeat-x;
    background-size: contain;
}

#curves-panel-1, #curves-panel-2{
	background-color: #1376bc;
	position: absolute;
	height: 100%;
	width: 100%;
}
#lines-layer-1{
	background-image: url(../imgs/waves-lineslayer-1.png);
}
#lines-layer-2{
	background-image: url(../imgs/waves-lineslayer-2.png);
}
#curves-layer-1{
	background-image: url(../imgs/waves-curveslayer-1.png);
}
#curves-layer-2 {
	background-image: url(../imgs/waves-curveslayer-2.png);
}
#lines-layer-1, #lines-layer-2, #curves-layer-1, #curves-layer-2 {
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

