
.ScrollSceneIndicators { z-index: 9999999 !important; }


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-alarm:before {
  content: "\61";
}
.icon-icon-lightbulb:before {
  content: "\63";
}
.icon-icon-money:before {
  content: "\64";
}
.icon-icon-wave:before {
  content: "\65";
}
.icon-icon-battery:before {
  content: "\62";
}


/********************************************************
*   Left Side Floating Images
********************************************************/

.fixed-image-wrapper
{
    position:fixed;
    z-index: 20;
    margin-top:16vh;
    margin-left:10vh;
    padding-right: 0;
    padding-left: 0;
}
.fixed-image-wrapper > img
{
    height: 74vh;
}

/********************************************************
*   Right Side Menu
********************************************************/
.fixed-icon-wrapper
{
    position: fixed;
    z-index: 20;
    /*margin-top: 100px;
    margin-left: 1084px;*/
    margin-top:22vh;
    right: 5vw;
    padding-right: 0;
    padding-left: 0;
    width: 14vh;
    height: 70vh;
}
.menu-icon
{
    font-size:7vh;
}
#battery-icon
{
    opacity:0;
    left: 50px;
    position: absolute;
    color: #9f2b64;
    top:0;
}
#wave-icon
{
    opacity:0;
    left: 50px;
    position: absolute;
    color: #1376bc;
    top:13vh;
}
#money-icon
{
    opacity:0;
    left: 50px;
    position: absolute;
    color: #1aa89e;        
    top:26vh;
}
#alarm-icon
{
    opacity:0;
    left: 50px;
    position: absolute;
    color: #8dc642;       
    top:39vh; 
}
#lightbulb-icon
{
    opacity:0;
    left: 50px;
    position: absolute;
    color: #673091;            
    top:52vh;
}



.volbee-slide
{
    height: 100vh;
    background: url() no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*
#slide-01
{
    height:750px;
}*/
#slide-02
{
    z-index: 1;
    border-top-left-radius: 17vh;
    -moz-border-top-left-radius: 17vh;
    -webkit-border-top-left-radius: 17vh;
    overflow: hidden;
}
#slide-03
{
    overflow: hidden;
    /*margin-top: -100px;*/ 
    background-color:#9f2b64;
    border-bottom-right-radius: 17vh;
    z-index:2;
}    

#slide-04
{
    /*margin-top: -17vh;
    height: 117vh;*/
}    

#slide-05
{
    background-color: #1376bc;
    border-bottom-left-radius: 17vh;
    overflow: hidden;
}    
#slide-07
{
    overflow: hidden;
    background-color: #8dc642;
    border-top-left-radius: 17vh;
}
#slide-09 img
{
    border-top-left-radius: 17vh;
}


#growing-circles
{
    /*z-index: 25;*/
    position:absolute;
    z-index: 20;
    margin-top:16vh;
    margin-left:10vh;
    padding-right: 0;
    padding-left: 0;
}


#growing-circles img{
    height: 74vh;
    margin-left:15px;
}

.growing-mask
{
    /*z-index: 25;*/
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:#652C90;
    background-image: url(imgs/slide-9-mask.png);
    background-repeat: no-repeat;    
    border-top-left-radius: 111px;
    background-size: 1200px 818px;
    background-position: center left;
    background-position-x: 0px;
    background-position-y: 0px;
}
